.env
/.bundle
/log/*
!/log/.keep
/tmp
config/secrets.yml
config/database.yml
*.todo
/public/uploads/*
/public/styleguide/*
dump.rdb
invoker.ini
tags
.tags*
.ruby-gemset
**/.DS_Store
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
