$light-gray: #fefefe;

.book {
  float: left;
  width: 31.33%;
  margin: 0 1% 2%;

  &__title {
  }

  &__cover {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $light-gray;
  }

  &__description {
    margin-top: 10px;
    max-height: 200px;
    overflow: scroll;
  }
}
