.row
  .col-sm-4.col-md-3
    .book
      %h3.book__name Book title
      = image_tag('http://lorempixel.com/200/200', class: 'book__cover')
      .book__description Some description
  .col-sm-4.col-md-3
    .book
      %h3.book__name Book title
      = image_tag('http://lorempixel.com/200/200', class: 'book__cover')
      .book__description Some description
  .col-sm-4.col-md-3
    .book
      %h3.book__name Book title
      = image_tag('http://lorempixel.com/200/200', class: 'book__cover')
      .book__description Some description
