- books.each do |book|
  .book.panel.panel-material-light-green
    .panel-heading
      %h3.panel-title.book__title= book.title
    .panel-body
      = image_tag(book.cover, class: 'book__cover')
      .book__description= book.description
    .panel-footer.text-center
      %button.btn.btn-success.btn-small Add to shelf
