- if notice
  .alert.alert-dismissable.alert-info
    %button.close{ type: 'button', data: { dismiss: 'close'} } &times;
    = notice
- if alert
  .alert.alert-dismissable.alert-danger
    %button.close{ type: 'button', data: { dismiss: 'close'} } &times;
    = alert
