.panel.panel-info
  .panel-heading
    %h3.panel-title
      - if user_signed_in?
        Your cart (
        = current_user.cart.books.size
        )
  .panel-body
    .list-group
      .list-group-item
        .row-picture
          %img.circle{ src: 'http://lorempixel.com/40/40' }
        .row-content
          %h4.list-group-item-heading Book title
          %p.list-group-item-text Description

      .list-group-separator

      .list-group-item
        .row-picture
          %img.circle{ src: 'http://lorempixel.com/40/40' }
        .row-content
          %h4.list-group-item-heading Book title
          %p.list-group-item-text Description
    .sidebar__cart__buttons
      %button.btn.btn-success Order now
