%h1 Welcome in Modern Library
.row
  .col-md-8
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis urna libero. Phasellus vel justo auctor, volutpat massa eget, iaculis leo. Nullam ultricies fermentum dui, et vulputate neque vulputate in. Quisque gravida velit ut ligula maximus finibus. Ut tincidunt felis ac enim lobortis, et efficitur arcu tincidunt. Donec ut bibendum enim, eu lacinia massa.

%h1 Books available
.row
  .col-md-8
    %p Phasellus vel justo auctor, volutpat massa eget, iaculis leo. Nullam ultricies fermentum dui, et vulputate neque vulputate in. Quisque gravida velit ut ligula maximus finibus. Ut tincidunt felis ac enim lobortis, et efficitur arcu tincidunt. Donec ut bibendum enim, eu lacinia massa.
    = render 'shared/books_block'
  .col-md-4
    = render 'shared/sidebar'
